body {
	padding: 5vh 5vh;
}
.exam-items {

}
	.exam-items ul {

	}	
		.exam .item ul li {
		}
		.exam .item .question {
			margin-top:5vh; 
			list-style-type: none;
			font-size: 3vw;
		}
		.exam .item .cb {
			list-style-type: none;
			margin-top: 10px;
			background-color: #e2e0de;
			padding: 10px;
			font-size: 10px;
		}
			.exam .item .cb  {
				font-size: 1vw;
				color:#141414;
			}
				.exam .item .cb input {
					border:1px solid #e2e0de;
					padding: 5vw;
				}
				.exam .item .cb span {
					padding-left: 2vw;
					font-size: 10px;
				}
		.exam .item .btn-submit {
			margin-top: 10px; 
			margin-bottom: 10px;
			border:3px solid #e2e0de;
			background-color: #141414;
			color:#fff;
			padding: 10px;
			font-size: 10px;
			cursor: pointer;
			border-radius: 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;
			float:right;
		}
			.exam .item .btn-submit:hover {
				background-color: #e2e0de;
				color:#141414;
			}