
body {
	background-color: #141414;
	width: 100vw;
	height:100vh;
}
.markdowneditor {
	width: 100vw;
	height:100vh;
	color:#fff;
	font-size: 2vw;
}
.markdowneditor ol li {
    display: list-item;
}
.markdowneditor ul li {
    list-style-type: circle;
}